In [1]:
import os
e2016_path =  "/home/neilor/e2016"
os.chdir(e2016_path+"/tse")
connect_cmd = "dbname='e2016' user='neilor' host='localhost' password='n1f2c3n1'"
from sqlalchemy import create_engine
engine = create_engine('postgresql://neilor:n1f2c3n1@localhost:5432/e2016')
## conda install -c conda-forge ipython-sql 
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/e2016

/home/neilor/anaconda3/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/neilor/anaconda3/lib/python3.6/site-packages/sql/magic.py:4: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  from IPython.utils.traitlets import Bool, Int, Unicode

'Connected: neilor@e2016'

Tutorial de Postgres
https://wiki.postgresql.org/wiki/Psycopg2_Tutorial

In [2]:
import psycopg2

try:
    conn = psycopg2.connect("dbname='e2016' user='neilor' host='localhost' password='n1f2c3n1'")
except:
    print ("I am unable to connect to the database")

In [9]:
import pandas as pd
import numpy as np

query_candidatos = """
SELECT  descricao_cargo as cargo, count(*) as qtd  
FROM tse.consulta_cand_2016 
group by descricao_cargo 
order by qtd  ;
"""

# query using conn and put the result into a pandas Dataframe
df_conn = pd.read_sql(query_candidatos, con=conn)    
df_conn

           cargo     qtd
0       PREFEITO   16828
1  VICE-PREFEITO   17213
2       VEREADOR  463384

In [35]:
import pandas as pd

query_aptos = """
SELECT  descricao_cargo as cargo, cod_situacao_candidatura as cod 
, des_situacao_candidatura as situacao ,count(*) as qtd FROM tse.consulta_cand_2016 
  group by descricao_cargo,  cod_situacao_candidatura,  des_situacao_candidatura 
 order by descricao_cargo  asc,cod_situacao_candidatura desc;
"""

# query using conn and put the result into a pandas Dataframe
df_conn = pd.read_sql(query_aptos, con=conn )
df = df_conn.pivot_table('qtd', ['cargo'], 'situacao')
df

situacao,AGUARDANDO JULGAMENTO,CANCELADO,CANCELADO COM RECURSO,CASSADO,CASSADO COM RECURSO,DEFERIDO,DEFERIDO COM RECURSO,FALECIDO,INDEFERIDO,INDEFERIDO COM RECURSO,NÃO CONHECIMENTO DO PEDIDO,PENDENTE DE JULGAMENTO,RENÚNCIA
cargo,,,,,,,,,,,,,
PREFEITO,9.0,2.0,1.0,5.0,14.0,15349.0,466.0,6.0,439.0,197.0,9.0,11.0,320.0
VEREADOR,NaN,220.0,6.0,20.0,10.0,435056.0,987.0,117.0,15597.0,1681.0,91.0,50.0,9549.0
VICE-PREFEITO,9.0,14.0,NaN,2.0,9.0,15526.0,355.0,4.0,481.0,182.0,10.0,19.0,602.0

In [34]:
import pandas as pd

query_aptos = """
SELECT  descricao_cargo as cargo, cod_situacao_candidatura as cod 
, des_situacao_candidatura as situacao ,count(*) as qtd FROM tse.consulta_cand_2016 
 where cod_situacao_candidatura in 
 ( '2' ,'16','17' ) 
  group by descricao_cargo,  cod_situacao_candidatura,  des_situacao_candidatura 
 order by descricao_cargo  asc,cod_situacao_candidatura desc;
"""

# query using conn and put the result into a pandas Dataframe
df_conn = pd.read_sql(query_aptos, con=conn)    

df = df_conn.pivot_table('qtd', ['cargo'], 'situacao')
df

situacao       DEFERIDO  DEFERIDO COM RECURSO  PENDENTE DE JULGAMENTO
cargo
PREFEITO          15349                   466                      11
VEREADOR         435056                   987                      50
VICE-PREFEITO     15526                   355                      19

In [37]:
import psycopg2
import pandas as pd
query_grau_instrucao = """
SELECT  descricao_cargo as cargo, descricao_grau_instrucao as grau_de_instrução,count(*) as qtd  \
FROM tse.consulta_cand_2016 
group by descricao_cargo,descricao_grau_instrucao 
order by qtd  ;
"""

df_conn = pd.read_sql(query_grau_instrucao, con=conn)    

df = df_conn.pivot_table('qtd', ['cargo'], 'grau_de_instrução')
df

grau_de_instrução,ANALFABETO,ENSINO FUNDAMENTAL COMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MÉDIO COMPLETO,ENSINO MÉDIO INCOMPLETO,LÊ E ESCREVE,SUPERIOR COMPLETO,SUPERIOR INCOMPLETO
cargo,,,,,,,,
PREFEITO,NaN,1068.0,1006.0,4314.0,459.0,158.0,8780.0,1043.0
VEREADOR,6.0,65060.0,74154.0,176417.0,24615.0,13792.0,89112.0,20228.0
VICE-PREFEITO,NaN,1661.0,1872.0,5188.0,562.0,351.0,6827.0,752.0

In [38]:
query = """SELECT  descricao_grau_instrucao as grau_de_instrução,count(*) as qtd 
FROM tse.consulta_cand_2016 
group by descricao_grau_instrucao 
order by qtd  ;
"""

df_conn = pd.read_sql(query, con=conn)    
df_conn

               grau_de_instrução     qtd
0                     ANALFABETO       6
1                   LÊ E ESCREVE   14301
2            SUPERIOR INCOMPLETO   22023
3        ENSINO MÉDIO INCOMPLETO   25636
4    ENSINO FUNDAMENTAL COMPLETO   67789
5  ENSINO FUNDAMENTAL INCOMPLETO   77032
6              SUPERIOR COMPLETO  104719
7          ENSINO MÉDIO COMPLETO  185919